* {
  margin: 0px;
  padding: 0px;
  font-family: helvetica, sans-serif;
  font-size: 14pt;
  line-height: 18pt;
  letter-spacing: -0.05px;
  word-wrap: break-word;
  -webkit-touch-callout:none;
}
body {
  background: white;
  padding: 15px;
}
a {
  font-weight: bold;
  color: #236ed8;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(200,220,255,0.5);
}
.content {
	margin-top: 0px;
}
.noCallout {
  -webkit-touch-callout: none !important;
}
#headerSpace {
  height: 100px;
}
.footer {
  text-align: left;
  color: #aaa;
  font-size: 11pt;
  margin-top: 8px;
  line-height: 12pt;
  -webkit-user-select: none;
}
.footer a {
  font-weight: bold;
  font-size: 11pt;
  color: #789;
  line-height: 12pt;
}
#thumbnailSection {
  margin-top: 0px;
  margin-bottom: 6px;
  -webkit-user-select: none;
}
#thumbnailSection a {
  margin-top: 6px;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 5px;
  background-color: #eee;
  -webkit-border-radius: 6px;
}
.replyChain {
  margin-top: 6px;
  text-align: right;
  -webkit-user-select: none;
}
.replyChain a {
  padding: 6px;
  padding-bottom: 7px;
  -webkit-border-radius: 14px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eee), color-stop(1.0, #ccc));
}
.replyChain a, span {
  font-size: 9pt;
}
.replyChain a, span {
  -webkit-touch-callout: none;
}
.replyChain a, span {
  color: #888;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1.0);
}
.replyChain a, span {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
}
.replyChain a:active {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ccc), color-stop(1.0, #aaa));
}
.replyChain a img {
	height: 12px;
}

#retweet {
	position:relative;
	padding:10px;
	margin:1em 0 4px;
	color:#000;
	background:#efefef;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	background:-webkit-gradient(linear, left top, left bottom, from(#efefef), to(#eee));
	background:-moz-linear-gradient(top, #efefef, #eee);
	background:-o-linear-gradient(top, #efefef, #eee);
	background:linear-gradient(top, #efefef, #eee);
}
#retweet:after {
	content:"";
	display:block;
	position:absolute;
	border-style:solid;
	border-color:#efefef transparent;
	top:-15px;
	left:20px;
	bottom:auto;
	right:auto;
	border-width:0 15px 15px;
}
#retweetContent, #retweetContent a {
	font-size: 13pt;
  line-height: 16pt;
}
.retweetAuthorProfileImage {
	width: 20px;
	height: 20px;
	background:#efefef;
  	background-position: center center;
  	background-repeat: no-repeat;
  	display: inline-block;
  	margin-right: 0px;
  	-webkit-background-size: 16px 16px;
}
.retweet {
  margin-top: 8px;
  font-size: 11pt;
  line-height: 14pt;
  text-align: left;
}
.static-map {
  background-position: top center;
  width: 100%;
  height: 100px;
  -webkit-background-size: 16px 16px;
  -webkit-tap-highlight-color: rgba(200,220,255,0.0)
}
